@media (max-width: 1235px) {

    .container {
        width: 100%;
        max-width: auto;
        margin: 0 auto;
        padding: 0;
      }

.edge__box{
display: block; 
width: auto;
padding: 0;
    }
    .edge__list{
        display: block;
        position: relative;
        top: -250px;
    }
    .edge__card-png{
        position: relative;
        padding: 0;
        margin: 0;
        bottom: -133px;
        img{
        opacity: 0.4;
    }
   
    }
}