@import "_vars";
@import "_libs";
@import "_fonts";
@import "_global";

.header {
  display: flex;
  width: 100%;
  padding: 20px 0;
  .logo {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.main__ad {
  display: flex;
  background-color: $yellow;
  width: 100%;
  height: 649px;
  margin-bottom: 50px;
}
.ad__text {
  display: block;
  padding-left: 350px;
}
.ad__text-top {
  padding-top: 150px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.ad__text-bottom {
  padding-top: 50px;
  
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  span {
    font-weight: 700;
  }
}
.ad__img {
  overflow-clip-margin: content-box;
  overflow: clip;
  clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.shared {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
}
.arrange__free {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin: 50px;
  span {
    font-weight: 700;
    background-color: $yellow;
  }
}

.edge__box {
  background-color: $grey;
  display: flex;
  border-radius: 20px;
  width: 1200px;
  height: 440px;
  padding: 50px;
}
.edge__item {
  display: block;
  position: relative;
  padding-left: 67px;
}
.edge__item:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: calc(100% + 35px);
  top: 0;
  left: 85px;
  background-color: #ffec00;
  z-index: 4;
}


.edge__card-png {
  display: block;
  position: relative;
  left: 0;
  bottom: -84px;

}

.edge__number {
  span {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: $yellow;
    text-align: center;
    margin-right: 50px;
    z-index: 5;
  }
}


.edge__title {
  padding-left: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 5px;
  span {
    background-color: $yellow;
  }
}
.edge__text {
  padding-left: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  span {
  }
}
.btn__go {
  width: 100%;
  margin: 60px 0 0;
  .btn {
    display: inline-block;
    position: relative;
    height: 70px;
    padding: 0 50px;
    line-height: 70px;
  }
}
.btn__go {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.advantages__list1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.adventages__list2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages__item1 {
  text-align: center;
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;
  .advantages__pic1 {
    margin: 25px;
  }
  .advantages__title1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin: 20px auto;
  }
  .advantages__text1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 35px;
  }
}
.advantages__item2 {
  display: flex;
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;

  .advantages__messege2 {
    display: block;
    text-align: left;
    justify-content: center;
    margin: 27px;
    .advantages__title2 {
      font-weight: 700;
      font-size: 26px;
      line-height: 20px;
    }
    .advantages__text2 {
      margin-top: 20px;
      line-height: 26px;
    }
  }
}

.simple__convenient {
  height: 661px;
  margin: 0 15px;
  .simple__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
  }
  ul {
    li {
      position: relative;
      padding-left: 35px;
      margin-bottom: 10px;
      list-style: none;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        top: 2px;
        left: 1px;
        background-image: url(../images/checker.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
  }
}

.libs__badges {
  display: flex;
  text-align: center;
  margin-top: 80px;
  gap: 50px;
}
.mob__bank-png {
  position: absolute;
  display: flex;
  right: 100px;
  padding-top: 40px;
}

footer {
  background-color: #2b2d33;
  color: #fff;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.footer__list {
  display: flex;
  margin: 0 150px;
  padding: 80px 0;
}
.footer__item {
  padding: 0 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 33.33333%;
}
.footer__item1 {
  border-right: 2px solid #ffff;
}
.footer__item2 {
  border-right: 2px solid #ffec00;
}
.footer__copyright {
  border-top: 1px solid #ffffff;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
@import "_media";
