@import "_vars";
@import "_libs";
@import "_fonts";
@import "_global";
@import "_media";
.header {
  display: flex;
  width: 100%;
  padding: 20px 0;
  .logo {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.main__ad {
  display: flex;
  background-color: #ffeb01;
  width: 100%;
  height: 649px;
  margin-bottom: 50px;
}
.ad__text {
  display: block;
}
.ad__text-top {
  padding-top: 150px;
  padding-left: 350px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.ad__text-bottom {
  padding-top: 50px;
  padding-left: 350px;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  span {
    font-weight: bold;
  }
}
.ad__img {
  overflow-clip-margin: content-box;
  overflow: clip;
  clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.shared {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
}
.arrange__free {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin: 50px;
  span {
    font-weight: bold;
    border-bottom: 2px solid color(#ffeb01);
  }
}

.edge__box {
  background-color: #e4e6ea;
  display: flex;
  border-radius: 20px;
  width: 1200px;
  height: 440px;
  padding: 50px;
}

.edge__card-png {
  display: flex;
  position: relative;
  width: 570px;
  height: 306px;
  left: 0;
  bottom: -84px;
  border-radius: 20px;
}
.edge__item {
}

.edge__number {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ffeb01;
  text-align: center;
  margin-right: 50px;
  z-index: 4;
  &:not(:last-child):after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: calc(100% + 35px);
    background-color: #ffec00;
    left: 18px;
    z-index: 5;
  }
}

.edge__title {
  width: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  span {
  }
}
.edge__text {
  width: 400;
  font-size: 20px;
  line-height: 28px;
  span {
  }
}
.btn__go {
  width: 100%;
  margin: 60px 0 0;
  .btn {
    display: inline-block;
    position: relative;
    height: 70px;
    padding: 0 50px;
    line-height: 70px;
  }
}
