@import "_vars";
@import "_libs";
@import "_fonts";
@import "_global";
@import "_mixins";

.header {
  width: 100%;
  padding: 20px 0;
  .logo {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @include media($xl) {
  }

  @include media($lg) {
    justify-content: center;
    text-align: center;
  }

  @include media($md) {
  }
}

.wrapper {
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main__ad {
  position: relative;
  background-color: $yellow;

  @include media($xl) {
    height: 500px;
  }
}
.ad__text {
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  justify-content: center;
  border-right: #ccc;
  max-width: 490px;
  height: 649px;
  padding-left: 50px;
  padding-right: 125px;
}
.ad__text-top {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 1.2;
}
.ad__text-bottom {
  font-size: 32px;
  span {
    font-weight: 700;
  }
}
.ad__img {
  position: absolute;
  top: 0;
  left: 500px;
  width: 1159px;
  height: 649px;
  background-color: #ccc;
  z-index: 10;
  clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 0% 100%);

  @include media($xl) {
    height: 500px;
  }
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title__text {
  font-size: 42px;
}
.section-title__descr {
  margin-top: 6px;
  font-size: 24px;
  font-weight: 400;
  .underline {
    position: relative;
    z-index: 5;

  }
}

.sm-card {
  position: relative;
  padding: 50px;
  background: #e4e6ea;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.sm-card__content {
  margin-left: 540px;
}

.steps__item {
  display: block;
  position: relative;
  padding-left: 67px;
  &:not(:last-child) {
    margin-bottom: 20px;
}
}
.steps__item:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: calc(100% + 35px);
  top: 0;
  left: 18px;
  background-color: #ffec00;
  z-index: 5;
}

.steps__num {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 1;
  color: #000;
  font-weight: 500;
  border-radius: 50%;
  background-color: #ffec00;
  z-index: 10;
}

.steps__descr {
  padding-left: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 5px;
  span {
    background-color: $yellow;
  }
}

.sm-card__fig {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  pointer-events: none;
}

.sm-card__img {
  position: absolute;
  bottom: 0;
  left: -70px;
  width: 595px;
  height: 313px;
}

.btn__go {
  width: 100%;
  margin: 60px 0 0;
  .btn {
    display: inline-block;
    position: relative;
    height: 70px;
    padding: 0 50px;
    line-height: 70px;
  }
}
.btn__go {
  display: flex;
  justify-content: center;
  margin-bottom: 57px;
}

.advantages__list1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.adventages__list2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages__item1 {
  text-align: center;
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;
  .advantages__pic1 {
    margin: 25px;
  }
  .advantages__title1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin: 20px auto;
  }
  .advantages__text1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 35px;
  }
}
.advantages__item2 {
  display: flex;
  background-color: $grey;
  margin: 10px;
  border-radius: 15px;

  .advantages__messege2 {
    display: block;
    text-align: left;
    justify-content: center;
    margin: 27px;
    .advantages__title2 {
      font-weight: 700;
      font-size: 26px;
      line-height: 20px;
    }
    .advantages__text2 {
      margin-top: 20px;
      line-height: 26px;
    }
  }
}

.simple__convenient {
  margin: 0 15px;
  .simple__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
  }
  ul {
    li {
      position: relative;
      padding-top: 20px;
      padding-left: 35px;
      margin-bottom: 10px;
      list-style: none;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        left: 1px;
        background-image: url(../images/checker.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
  }
}

.libs__badges {
  display: flex;
  text-align: center;
  margin-top: 80px;
  gap: 50px;
  padding-bottom: 80px;
}
.mob__bank-png {
  position: absolute;
  display: flex;
  right: 411px;
  padding-top: 40px;
}

footer {
  background-color: #2b2d33;
  color: #fff;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.footer__list {
  display: flex;
  margin: 0 150px;
  padding: 80px 0;
}
.footer__item {
  padding: 0 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 33.33333%;
  height: 75px;
}
.footer__item1 {
  border-right: 2px solid #ffec00;
}
.footer__item2 {
  border-right: 2px solid #ffec00;
}
.footer__copyright {
  border-top: 1px solid grey;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding: 24px;
}
